---
import { SITE } from '../config';
---

<header class="wrapper">
	<a href="/">
		<span>{SITE.title}</span>
	</a>
</header>

<style>
	header {
		padding-top: 1rem;
		padding-bottom: 1rem;
		height: 5rem;
	}
</style>
